.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.remove--modal {
    background: $off-white;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.2);
    color: $grey;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.remove--modal__title {
    margin: 0 0 $m-size 0;
    font-weight: 500;
}
